In [ ]:
#######################################################################################################
#Name : - Jitesh Bhatti 
#Enrollment :- 216270307057
#Subject :- IML
#Sem :- 5
#######################################################################################################

#Practical - 7 : Write a Pandas program to implement following operation

#Practical - 7.1 to create a dataframe from a dictionary and display it 

import pandas as pd

data = {'Enrollment ': [216270307045, 216270307057, 216270307058, 216270307064],
        'Name': ['Hitarth', 'Jitesh', 'Dhruv', 'Arya'],
        'Spi': [10, 9, 5, 1]}

df = pd.DataFrame(data)

print(df)

In [ ]:
#######################################################################################################
#Name : - Jitesh Bhatti 
#Enrollment :- 216270307057
#Subject :- IML
#Sem :- 5
#######################################################################################################

#Practical - 7 : Write a Pandas program to implement following operation

#Practical - 7.2 to sort the DataFrame first by 'name' in ascending order 

import pandas as pd

data = {'Enrollment ': [216270307045, 216270307057, 216270307058, 216270307064],
        'Name': ['Hitarth', 'Jitesh', 'Dhruv', 'Arya'],
        'Spi': [10, 9, 5, 1]}

df = pd.DataFrame(data)
print("Unsorted : \n",df,"\n")

df_sorted = df.sort_values(by='Name', ascending=True)

print("Sorted : \n", df_sorted)

In [ ]:
#######################################################################################################
#Name : - Jitesh Bhatti 
#Enrollment :- 216270307057
#Subject :- IML
#Sem :- 5
#######################################################################################################

#Practical - 7 : Write a Pandas program to implement following operation

#Practical - 7.4 to write a DataFrame to CSV file using tab separator 

 
import pandas as pd

data = {'Enrollment ': [216270307045, 216270307057, 216270307058, 216270307064],
        'Name': ['Hitarth', 'Jitesh', 'Dhruv', 'Arya'],
        'Spi': [10, 9, 5, 1]}

df = pd.DataFrame(data)
print(df, '\n\n')

csv_file = 'data_with_tabs.csv'

df.to_csv(csv_file, sep='\t', index=False)

print(df)

In [ ]:
#######################################################################################################
#Name : - Jitesh Bhatti 
#Enrollment :- 216270307057
#Subject :- IML
#Sem :- 5
#######################################################################################################

#Practical - 7 : Write a Pandas program to implement following operation

#Practical - 7.4 to write a DataFrame to CSV file using tab separator 

import pandas as pd

data = {'Enrollment ': [216270307045, 216270307057, 216270307058, 216270307064],
        'Name': ['Hitarth', 'Jitesh', 'Dhruv', 'Arya'],
        'Spi': [10, 9, 5, 1]}

df = pd.DataFrame(data)
print(df)
print()

print(df)